body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    background: #f4b3b3;
    color: white;
    padding: 20px 0;
}

header .logo img {
    width: 100px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e77c7c;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #e77c7c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background: #f4b3b3;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}